body{
    margin-top:20px;
    background:#eee;
}
.row.row-broken {
    padding-bottom: 0;
}
.col-inside-lg {
    padding: 20px;
}
.chat {
    /*height: calc(100vh - 180px);*/
    outline: none;
    /*height: 500px;*/
    /*overflow: auto;*/
    /*position: relative;*/
}
.decor-default {
    background-color: #ffffff;
}
.chat-users{
    height: 400px;
}
.chat-users h6 {
    font-size: 20px;
    margin: 0 0 20px;
}
.chat-users .user {
    position: relative;
    padding: 0 0 0 50px;
    display: block;
    cursor: pointer;
    margin: 0 0 20px;
}
.chat-users .user.active{
    background-color: #ccc;
}
.chat-users .user .avatar {
    top: 0;
    left: 0;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}
.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}
.chat .user.off .avatar .status {
    border: 1px solid #5a5a5a;
    background: #ffffff;
}
.chat .user.online .avatar .status {
    background: #4caf50;
}
.chat .user.busy .avatar .status {
    background: #ffc107;
}
.chat .user.offline .avatar .status {
    background: #ed4e6e;
}
.chat-users .user .status {
    bottom: 0;
    left: 28px;
    background: #ed4e6e;
}
.chat .avatar .status {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    position: absolute;
}
.chat-users .user .name {
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.chat-users .user .mood {
    font: 200 14px/20px "Raleway", sans-serif;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    height: 20px;
}

/*****************CHAT BODY *******************/
.chat-body{
    float: left;
    width: 100%;
    height: 420px;
    overflow: hidden;
    overflow-y: auto;
}
.chat-body h6 {
    font-size: 20px;
    margin: 0 0 20px;
}
.chat-body .answer.left {
    padding: 0 0 0 58px;
    text-align: left;
    float: left;
}
.chat-body .answer {
    position: relative;
    max-width: 600px;
    /*overflow: hidden;*/
    clear: both;
}
.chat-body .answer .message-actions{
    position: absolute;
    top: 36px;
}
.chat-body .answer.left .message-actions{
    left: 100%;
}
.chat-body .answer.right .message-actions{
    right: 100%;
}
.chat-body .answer.left .avatar {
    left: 0;
}
.chat-body .answer .avatar {
    bottom: 36px;
}
.chat .avatar {
    width: 40px;
    height: 40px;
    position: absolute;
}
.chat .avatar img {
    display: block;
    border-radius: 20px;
    height: 100%;
}
.chat-body .answer .name {
    font-size: 14px;
    line-height: 36px;
}
.chat-body .answer.left .avatar .status {
    right: 4px;
}
.chat-body .answer .avatar .status {
    bottom: 0;
}
.chat-body .answer.left .text {
    background: #ebebeb;
    color: #333333;
    border-radius: 8px 8px 8px 0;
}
.chat-body .answer .text {
    padding: 12px;
    font-size: 16px;
    line-height: 26px;
    position: relative;
}
.chat-body .answer .text img,
.chat-body .answer .text video{
    max-width: 150px;
    width: 100%;
    /*max-height: 100px;*/
    display: block;
}
.chat-body .answer .text a{
    display: inline-block;
    border-radius: 10px;
    overflow: hidden;
    text-decoration: underline;
}
.chat-body .answer .text a + a{
    margin-left: 10px;
}
.chat-body .answer .text a.link-preview{
    width: 200px;
    margin: 0 auto;
    clear: both;
    display: block;
    border: 1px solid;
    margin-top: 20px;
    padding: 10px;
    box-sizing: border-box;
}
.chat-body .answer.left .text:before {
    left: -30px;
    border-right-color: #ebebeb;
    border-right-width: 12px;
}
.chat-body .answer .text:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    border: 18px solid transparent;
    border-bottom-width: 0;
}
.chat-body .answer.left .time {
    padding-left: 12px;
    color: #333333;
}
.chat-body .answer .time {
    font-size: 16px;
    line-height: 36px;
    position: relative;
    padding-bottom: 1px;
}
/*RIGHT*/
.chat-body .answer.right {
    padding: 0 58px 0 0;
    text-align: right;
    float: right;
}
.chat-body .answer.right .text a{
    color: #ffffff;
}

.chat-body .answer.right .avatar {
    right: 0;
}
.chat-body .answer.right .avatar .status {
    left: 4px;
}
.chat-body .answer.right .text {
    background: #7266ba;
    color: #ffffff;
    border-radius: 8px 8px 0 8px;
}
.chat-body .answer.right .text:before {
    right: -30px;
    border-left-color: #7266ba;
    border-left-width: 12px;
}
.chat-body .answer.right .time {
    padding-right: 12px;
    color: #333333;
}

/**************ADD FORM ***************/
.chat .answer-add {
    clear: both;
    position: relative;
    /*margin: 20px -20px -20px;*/
    padding: 20px;
    background: #46be8a;
}
.chat .answer-add #send-message{
    position: relative;
}
.chat .answer-add #uploadfile_label{
    position: absolute;
    right: 10px;
    top: 10px;
}
.chat .answer-add input[type=submit]{
    position: absolute;
    bottom: 10px;
    right: 10px;
}
.chat .answer-add textarea{
    outline: none;
    border: none;
    background: #ffffff;
    display: block;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    padding: 10px;
    color: #000000;
    resize: none;
    height: 90px;
}
.chat input {
    /*-webkit-appearance: none;*/
    border-radius: 0;
}
.chat .answer-add .answer-btn-1 {
    /*background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-40.png") 50% 50% no-repeat;*/
    right: 56px;
}
.chat .answer-add .answer-btn {
    display: block;
    cursor: pointer;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 50%;
    margin-top: -18px;
}
.chat .answer-add .answer-btn-2 {
    /*background: url("http://91.234.35.26/iwiki-admin/v1.0.0/admin/img/icon-41.png") 50% 50% no-repeat;*/
    right: 20px;
}
.chat input::-webkit-input-placeholder {
    color: #fff;
}

.chat input:-moz-placeholder { /* Firefox 18- */
    color: #fff;
}

.chat input::-moz-placeholder {  /* Firefox 19+ */
    color: #fff;
}

.chat input:-ms-input-placeholder {
    color: #fff;
}
.chat input {
    /*-webkit-appearance: none;*/
    border-radius: 0;
}

#typing{
    width: 100%;
    float: left;
    height: 22px;
    padding: 0 20px;
}

.message-fwd-modal{
    position: absolute;
    /*top: 0;*/
    /*left: 50px;*/
    background: #ffffff;
    height: 100%;
    max-height: 350px;
    border: 1px solid;

}

.chat-body .answer .text .message-attachments .message-attachment{
    display: block;
    height: 100px;
}
.chat-body .answer .text .message-attachments .message-attachment a{
    display: block;
    height: 100%;
    color: #000;
    font-weight: bold;
}
.chat-body .answer .text .message-attachments .message-attachment a .message-attachment-filebox{
    background-image: url("../img/chat-file-icon.png");
    background-position: center;
    background-size: auto 100%;
    background-repeat: no-repeat;
    height: 100%;
    position: relative;
}
.chat-body .answer .text .message-attachments .message-attachment a .message-attachment-filebox span{
    display: block;
    position: absolute;
    bottom: 10px;
    right: 10px;

}
.chat-body .answer .text .message-attachments .message-attachment + .message-attachment{
    margin: 0 5px 5px 0;
}
.chat-body .answer .text .message-attachments .message-attachment img{
    max-width: 150px;
    max-height: 100px;
    width: auto;
}





















/*!* enable absolute positioning *!*/
/*.inner-addon {*/
    /*position: relative;*/
/*}*/

/*!* style icon *!*/
/*.inner-addon .glyphicon {*/
    /*position: absolute;*/
    /*padding: 10px;*/
    /*pointer-events: none;*/
/*}*/

/*!* align icon *!*/
/*.left-addon .glyphicon  { left:  0px;}*/
/*.right-addon .glyphicon { right: 0px;}*/

/*!* add padding  *!*/
/*.left-addon input  { padding-left:  30px; }*/
/*.right-addon input { padding-right: 30px; }*/

/*#contentWrap{*/
    /*display: none;*/
/*}*/

/*#chatWrap{*/
    /*display: none;*/
/*}*/
/*#chat{*/
    /*height:300px;*/
    /*background: #fff;*/
    /*margin-bottom: 20px;*/
    /*border: 1px solid #d3e0e9;*/
    /*border-radius: 3px;*/
/*}*/

/*#users a.active{color:red;}*/