@font-face {
    font-family: 'icomoon';
    src:  url('../fonts/icomons/icomoon.eot?ayb4hf');
    src:  url('../fonts/icomons/fonts/icomoon.eot?ayb4hf#iefix') format('embedded-opentype'),
    url('../fonts/icomons/icomoon.ttf?ayb4hf') format('truetype'),
    url('../fonts/icomons/icomoon.woff?ayb4hf') format('woff'),
    url('../fonts/icomons/icomoon.svg?ayb4hf#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-close:before {
    content: "\e900";
}
.icon-menu:before {
    content: "\e901";
}

.icon-menu.icon-close:before {
    content: "\e900" !important;
}
