/* Small devices (landscape phones, 576px and up)*/
@media (max-width: 576px) {

    .select_search ul li {
        margin: 0 5px;
        width: calc(50% - 7px);
    }

    .select_btn {
        padding: 0 10px !important;
        font-size: 11px !important;
    }

    .item_search_job p {
        font-size: 14px !important;
    }

    .item_search_job h1 {
        font-size: 21px !important;
    }

    .log_btns ul li a {
        padding: 8.5px 8px !important;
        font-size: 11px !important;
        min-width: 78px !important;
    }

}

/* Medium devices (tablets, 768px and up) */
@media (max-width: 768px) {

    .new_resume_mini strong, .new_resume_mini span {
        display: none;
    }

    .btn_setting button, .menu_do {
        padding: 16px;
    }

    .slide_nav_btn {
        padding: 14px;
        display: inline-block !important;
    }

    .nav_top ul li {
        margin-right: 7px;
    }

    .nav_top ul li a.simple_events {
        width: 30px;
        height: 30px;
        padding-top: 7px;
    }

    .nav_top ul li a i {
        font-size: 16px;
    }

    .breadscrumb {
        display: none;
    }

    .nav_top {
        padding: 11px 0 0;
    }

    .content_main {
        padding: 15px 0 !important;
    }

    .white_btn, .white_btn:focus {
        padding: 1px 10px;
    }

    .go_left {
        margin-left: 10px;
    }

    .go_right {
        margin-right: 10px;
    }

    .menu_saved_resume .fixed-action-btn {
        top: inherit !important;
        right: 23px !important;
    }

    .send_msg_btn {
        bottom: 15px;
        /* z-index: 9999; */
    }

    .bottom_vertical .btn-floating.btn-large {
        bottom: 70px;
        top: inherit;
    }

    .bottom_vertical ul {
        bottom: 125px;
        top: inherit !important;
    }

    .modal {
        width: calc(100% - 30px);
        height: 82%;
        overflow-y: scroll;
    }

    .material-tooltip {
        display: none !important;
    }

    .modal-header h3 {
        font-size: 16px;
        line-height: 24px;
    }

    .block_pop_up p {
        font-size: 13px;
        line-height: inherit;
    }

    .block_pop_up h4 {
        font-size: 16px;
    }

    .title_rainting_modal {
        font-size: 14px;
        margin: 4px 0 2px;
    }

    .modal-content {
        padding: 24px 22px 10px !important;
    }

    .resume_link {
        font-size: 13px;
        overflow: hidden;
    }

    .modal-footer {
        margin: 5px 0 15px;
        padding: 0 20px !important;
    }

    .modal-header {
        padding: 20px 0 10px;
    }

    .x_close {
        right: -2px;
        top: 5px;
    }

    .hide_filter {
        right: 15px;
    }

    .fixed_filter_search {
        right: -100%;
    }

    footer .valign-wrapper, .footer_resume.valign-wrapper {
        display: block;
    }

    .social_footer, .copyright_footer.right-align, .socials_footer, .copyright_footer_resume.right-align {
        text-align: center !important;
    }

    footer, .footer_resume {
        padding-bottom: 15px;
        position: relative;
        margin-top: 0;
    }

    .content_search {
        padding-bottom: 0;
    }

    .fixed_filter_search.inactive {
        right: 0;
        border: solid 1px #ccc;
    }

    .fixed_filter_search.inactive .filter_preference {
        margin: 0;
        right: 0;

        position: relative;
    }

    .new_resume_mini figure {
        width: 40px;
        height: 40px;
    }

    main {
        padding-bottom: 0;
    }

    .all_info {
        bottom: 0;
    }

    .link_how_to_video a {
        text-transform: none;
        font-size: 12px;
    }

    .all_info {
        padding: 10px;
        bottom: 10px;
    }

    .info_about_video {
        font-size: 14px;
        line-height: 16px;
        text-transform: none;
    }

    .link_how_to_video {
        margin-bottom: 10px;
    }

    .add_new_resume {
        float: none;
        margin: 0 auto 20px;
    }

    .content_result_jobi .mini_resume {
        margin: 0 15px 25px !important;
    }

    .mini_resume li:last-child {
        display: inline-block !important;
    }

}

/* Large devices (desktops, 992px and up) */
@media (max-width: 992px) {

    .contact_top {
        margin-bottom: 15px;
    }

    .play_btn_video {
        margin-left: -28px;
        margin-bottom: -28px;
    }

    .video-btn {
        width: 56px;
        height: 56px;
        line-height: 56px;
        font-size: 18px;
    }

    .functia {
        margin: 0 auto;
    }

    .name_edit input, .name_edit {
        font-size: 34px !important;
    }

    .header_block_edit {
        padding-bottom: 5px;
        margin-bottom: 10px;
    }

    .name_edit {
        margin-top: 25px;
    }

    .first_see .action_section {
        bottom: 0;
        opacity: 1;
        z-index: 6;
    }

    .message-attachment {
        width: 55px;
        height: 45px;
    }

    .link_chat {
        width: 100%;
        height: 70px;
        margin: 0 0 10px;
    }

    .link_chat img {
        width: 100%;
    }

    .saved_resume .item_socails li {
        display: inline-block !important;
        margin: 0 10px;
    }

    .txt_politica {
        padding-top: 40px;
    }

    .setting_show_resume.right {
        float: none !important;
        margin: 15px 0;
    }

    .filter_preference {
        position: fixed;
        right: -150%;
        z-index: 999;
    }

    .preference_bottom {
        width: 100%;
        float: none;
        margin: 0;
    }

    .content_result_jobi .pagination {
        text-align: center;
    }

    .item_search_job h1 {
        font-size: 40px;
    }

    .item_search_job p {
        font-size: 18px;
    }

    .select_btn {
        padding: 0 15px;
        font-size: 12px;
    }

    .log_btns {
        position: absolute;
        right: 0;
        top: 15px;
        width: 100%;
        text-align: center;
    }

    .search_btn {
        min-width: 36px;
        width: 36px;
    }

    .search_btn label {
        left: 12px;
    }

    .search_btn input[type="submit"] {
        color: transparent;
    }

    .info_login {
        display: none;
    }

    .login_content {
        background-color: #fff;
        padding: 0 0 110px !important;
        width: 100%;
    }

    .block_login {
        box-shadow: none;
        width: 100%;
    }

    .block_mini_top {
        width: calc(100% - 30px);
        top: 74px;
        overflow-y: scroll;
    }

    .mini_events:after {
        display: none;
    }

    .events_mini:before {
        right: 144px;
    }

    .guest_mini:before {
        right: 104px;
    }

    #new_events {
        height: 390px;
        overflow-y: scroll;
    }

    .ora, .data {
        display: inline-block;
        text-align: left;
    }

    .left_mini_events {
        width: 100%;
    }

    .right_mini_events {
        width: 100%;
        padding: 10px 10px 10px 45px;
    }

    .right_mini_events figure, .block_mini_guest figure, .show_result_search figure {
        left: 2px;
        top: 10px;
    }

    .logo_name_mini {
        padding: 12px 2px 12px 36px;
    }

    .details_mini_guest {
        width: calc(100% - 115px);
    }

    .details_mini_guest em {
        display: none;
    }

    .action_mini_guest {
        width: 100%;
    }

    .item_socails li {
        display: table;
        margin: 0 auto 15px;
    }

    .show_social.show_option {
        z-index: 9999;
        margin-left: 0;
        width: 100% !important;
        height: inherit !important;
        left: 0;
        position: relative;
        top: 20px;

    }

    .show_social {
        transition: none;
    }

    .top_resume .show_social {
        margin-bottom: 44px;
    }

    .show_social input.txt_select {
        width: 100% !important;
        box-sizing: border-box;
        margin: 0 0 10px;
        border-left: solid 1px #d6d7d8 !important;
    }

    .show_social .btn {
        margin: 0;
        float: none;
        display: block;
        width: 100%;
    }

    .show_social .select-wrapper {
        width: 100%;
    }

    .top_resume .show_social .select-wrapper, .top_resume .show_social input.txt_select {
        margin-bottom: 10px !important;
    }

    .top_resume {
        padding: 20px 15px 15px;
    }

    .edit_block {
        padding: 25px 20px;
    }

    .header_block_edit input {
        font-size: 16px !important;
    }

    .edit_all_resume .list_socials_all li:last-child, .edit_all_resume .item_socails li:last-child {
        display: block;
        height: inherit !important;
    }

    .list_socials_all ul {
        text-align: center;
    }

    .list_socials_all li, .item_socails li {
        margin-bottom: 15px;
    }

    .select_resume {
        margin: 15px 0 10px !important;
        width: 100%;
        float: none;
        max-width: 100%;
    }

    .top_main .input-field {
        margin: 0;
        min-width: 100%;
    }

    .my_menu .bottom_vertical .btn-floating.btn-large {
        bottom: 0;
    }

    .my_menu .bottom_vertical ul {
        bottom: 55px;
    }

    .change_time {
        text-align: left;
    }

    .select_period_all {
        float: left;
        margin: 15px 0 0;
    }

    .sender .text {
        margin-right: 50px;
    }

    .chat-body .avatar {
        width: 40px;
        height: 40px;
    }

    .answer {
        max-width: 100%;
        min-height: 70px;
        margin-bottom: 30px;
    }

    .text {
        margin-left: 50px;
    }

    .sender .name {
        right: 50px;
        left: inherit !important;
    }

    .sender .time {
        margin-right: 50px;
    }

    .answer .name {
        left: 50px;
    }

    .answer .time {
        margin-left: 50px;
    }

    .contact_me .row {
        margin-bottom: 0;
    }

    .contact_me, .block_right_resume {
        padding: 20px 15px !important;
    }

    .show_social .select-wrapper input {
        width: 100% !important;
        margin-bottom: 10px;
    }

    .modal-header h3 strong {
        font-size: 21px;
    }

    .social_media_modal li {
        margin-right: 6px;
    }

    .social_media_modal li:last-child {
        display: block;
        text-align: center;
        width: 100%;
        margin-top: 10px;
    }

    .social_media_modal li:last-child button {
        display: inline-block
    }

    .social_media_modal li a {
        width: 30px;
        height: 30px;
        padding-top: 4px;
    }

    .social_media_modal li a i {
        font-size: 12px;
    }

    .social_media_modal ul {
        margin: 0;
        display: block;
        text-align: center;
    }

    .social_media_modal .show_social.show_option {
        top: 8px;
    }

    .btn_modal_footer, .modal-footer .modal-action.modal-close {
        text-align: center;
        clear: both;
        width: 100%;
        display: block;
        max-width: 100%;
        float: none !important;
        margin-bottom: 15px;
    }

    .show_social .select-wrapper .dropdown-content.select-dropdown li:last-child {
        text-align: left;
    }

    .show_social .select-wrapper .dropdown-content.select-dropdown {

        width: 100% !important;
        left: 18px !important;
    }

    .right_setting {
        width: 100%;
    }

    #chartdiv1, #chartdiv2 {
        height: 140px;
    }

    .preference_bottom .mini_resume.first_see {
        margin: 0 0 25px !important;
    }

    .functia .me {
        font-size: 15px;
        height: auto;
        margin-right: 0;
        display: block;
        line-height: inherit;
        margin-bottom: 10px;
    }

    .block_video {
        height: 200px;
    }

    .message_content .block_whole {
        margin-top: 15px;
        height: calc(100vh - 90px);
    }

    .message_content .top_page {
        display: none;
    }

    .message_content {
        height: calc(100vh - 60px);
        padding: 0 !important;
    }

    .message_content .list_users_msg {
        height: calc(100vh - 160px);
        background-color: #fff;

    }

    .message_content .right_whole {
        position: relative;
    }

    .message_content .left_whole {
        position: fixed;
        z-index: 15;
        background-color: #fff;
        height: 100%;
        left: 0 !important;
        top: 0;
    }

    .add_msg_editor {
        padding-top: 20px;
        background-color: #fff;
        position: fixed;
        width: 100%;
        left: 0;
        bottom: 0;
        z-index: 40;
    }

    .conversation_content {
        height: calc(100vh - 130px);
    }

    .add_msg_editor textarea {
        padding: 10px 50px 10px 10px;
        height: 90px;
        border-radius: 0;
        border-left: none;
        border-right: none;
        border-bottom: none;
        font-size: 14px;
        border-top: solid 1px #26abff;
        box-shadow: none;
        resize: none;
        min-height: 90px;
        display: block;
    }

    .message-attachment, .link_chat {
        margin: 0 6px 10px;
    }

    .btn_add_file, .send_msg {
        width: 30px;
        height: 30px;
        bottom: 10px;
        padding: 7px 0 0 3px;
        right: 10px;
    }

    .btn_add_file {
        bottom: 50px;
    }

    .send_msg i, .btn_add_file i {
        font-size: 15px;
    }

    .message_content .left_whole.mobile_hide_message, .mobile_hide_message {
        left: -150% !important;
    }

    .message_content .left_whole.show_block_mesage, .show_block_mesage {
        left: 0 !important;
        z-index: 10000;
    }

    .sender:hover .message-actions {
        left: inherit;
        right: 2px;
        top: 50px;
    }

    #hide_block_msg {
        float: right;
        z-index: 6;
        background-color: #ff7a97;
        border: none;
        padding: 0;
        text-align: center;
        width: 36px;
        height: 36px;
        border-radius: 2px;
        display: block;
        padding-top: 5px;
        cursor: pointer;
        margin-left: 15px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.16);
    }

    #hide_block_msg i {
        color: #fff;
        font-size: 16px;
    }

    .message-actions {
        opacity: 1;
        z-index: 1;
    }

    .sender .message-actions {
        left: inherit;
        right: 2px;
        top: 50px;
    }

    .sender:hover .message-actions, .sender .message-actions {
        right: 2px;
        opacity: 1;
        left: inherit;
        top: 50px;
    }

    .receiver:hover .message-actions, .receiver .message-actions {
        left: 2px;
        opacity: 1;
        top: 50px;
    }

    .top_left_whole h3 {
        font-size: 16px;
        margin: 8px 0 0;
        width: 98px;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
    }

    .top_left_whole h3:before {
        margin-right: 0;
    }

    .name_user_typing {
        padding-right: 15px;
        margin-right: 15px !important;
    }

    .event_now_typing {
        font-size: 13px;
        margin-top: 8px;
    }

    main {
        padding-top: 60px;
    }

    header {
        z-index: 10000;
        top: 0;
        position: fixed;
        width: 100%;
    }

    .forward {
        width: 98%;
        left: 50%;
        margin-left: -49%;
        top: 24%;
    }

    .forward.active {
        top: 60px;
    }

    .forward .list_users_msg {
        height: calc(100vh - 280px);
    }

    .footer_forward button {
        margin: 0 10px;
        font-size: 13px;
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.24), 0 0 1px rgba(0, 0, 0, 0.16);
        padding: 0 15px;
        line-height: 36px;
    }

    .top_forwar h3 {
        font-size: 16px;
    }

}

/* Extra large devices (large desktops, 1200px and up)*/
@media (max-width: 1200px) {

    .list_menu_aside li a {
        line-height: 47px
    }

    aside.side-nav .list_menu_aside li a i.material-icons {

        margin-top: 4px;
    }

    .list_two_section {
        padding-left: 15px;
        position: relative;
        border-left: solid 1px #1e8dee;
        margin-left: 10px !important;
        margin-bottom: 0;
        padding-bottom: 15px;
    }

    .list_two_section:before {
        position: absolute;
        top: 0;
        left: -11px;
        width: 21px;
        height: 21px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border-radius: 50%;
        background-color: #1e8dee;
        border: 3px solid #fafafa;
        z-index: 2;
        content: "";
    }

    .list_two_section:last-child {
        border: none;
    }

    .hide-on-mobile {
        display: none;
    }

    .white_bg .list_two_section:before {
        border-color: #fff;
    }

    .show-on-mobile {
        display: block;
    }

    .desc_btn,
    .about_company_work:before {
        display: none;
    }
}

@media (max-width: 1340px) {
    main {
        width: 100%;
        margin-left: 0;
    }

    aside {
        left: -250px;
    }

    .block_list .mini_resume, .row_list .mini_resume {
        width: 100%;
        margin: 0 15px 30px;
        float: none;
        padding: 20px 0;
        min-height: 190px;
    }

    .log_btns.long_search_log {
        text-align: right;
    }

    .content_result_jobi {
        padding: 135px 0 1px;
    }

    .mini_aside {
        width: 66px;
        left: 0;
    }

    .saved_resume .center-align.center-block {
        padding: 15px 0;
    }

    .edit_left_block {
        padding: 0;
    }

    .block_right_resume {
        padding: 30px;
    }

    .descrition_work {
        margin-left: 0;
    }

    .round_item {
        display: none;
    }

    .hide_active .over_new {
        width: 100%;
        height: calc(100% - 52px);
    }

}

@media (min-width: 1340px) {

    .page_main_full {
        padding: 15px 15px 0;
    }

}

@media (max-width: 1600px) {
    .content_result_jobi .mini_resume {
        padding: 20px 10px;
        min-height: 200px;
    }

    .tags_skills li span {
        font-size: 11px;
        padding: 2px 4px;
    }

    .log_btns ul li a {
        padding: 8.5px 10px;
        font-size: 12px;
        min-width: 90px;
    }

    .block_video img {
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: 100%;
        max-width: inherit;
    }

    .deafaul_img {
        height: 100%;
    }

    .saved_resume .socials_icons_top a span {
        display: none;
    }

    .location_compani input, .period_work input, .saved_resume .location_compani span, .saved_resume .period_work span {
        font-size: 13px;
    }

    .container {
        width: calc(100% - 30px);
    }

    .menu_saved_resume .fixed-action-btn {
        position: fixed;
        top: 160px;
        right: 15px;
    }

}